extends layout

block content
	section#album.page-block
		.container
			.text-header
				.row
					h4.col-md-6
						| Suspendisse pharetra aliquam diam, et cursus erat mattis sed. Aenean vestibulum viverra ex ac convallis.
			// Images For Albums
			#album-carousel.owl-carousel
				.album-item
					.album-img
						a(href='project.html')
							div
								span.item-view.animated.fadeInDown view
								img(src='assets/images/albums/album-item/img-1.jpg', alt='')
					h5 Photography
					p
						| Aenean vestibulum viverra ex ac convallis.
						br
						| Suspendisse pharetra aliquam diam, et cursus erat mattis sed. Aenean vestibulum viverra ex ac convallis.
				.album-item
					.album-img
						a(href='project.html')
							div
								span.item-view.animated.fadeInDown view
								img(src='assets/images/albums/album-item/img-2.jpg', alt='')
					h5 Graphic Design
					p
						| Aenean vestibulum viverra ex ac convallis.
						br
						| Suspendisse pharetra aliquam diam, et cursus erat mattis sed. Aenean vestibulum viverra ex ac convallis.
				.album-item
					.album-img
						a(href='project.html')
							div
								span.item-view.animated.fadeInDown view
								img(src='assets/images/albums/album-item/img-3.jpg', alt='')
					h5 UI / UX Design
					p
						| Aenean vestibulum viverra ex ac convallis.
						br
						| Suspendisse pharetra aliquam diam, et cursus erat mattis sed. Aenean vestibulum viverra ex ac convallis.

