footer
	a.company-logo(href='index.html')
		img.logo(src='assets/images/logo.svg', alt='logo')
	nav.footer
		a.page-scroll(href='#header-page') Home
		a(href='album.html') Albums
		a(href='blog-home.html') Blog
		a(href='contact.html') Contact
	.social-links
		a(href='#')
			span.fa.ion-social-facebook
		a(href='#')
			span.fa.ion-social-twitter
		a(href='#')
			span.fa.ion-social-linkedin
		a(href='#')
			span.fa.ion-social-googleplus
	div
		h5 © Vedea Studio 2017 All rights reserved.
script(src='/assets/js/plugins.js')
script(src='/assets/js/main.js')