#preloader
	.loader
		img(src='/assets/images/logo.svg', alt='logo')
header(class=header_class id=header_id)
	block video
	nav.navigation.nav-down
		.home-menu
			a.nav-logo(href='index.html')
				img.logo(src='/assets/images/logo.svg', alt='logo')
			block scrollmenu
		.indicator-text
			span.text-menu menu
			span.text-close.hide close
		.hamburger
			span.color-menu
			span.color-menu
			span.color-menu
	nav.navigation_menu
		.sub-menu
			a.page-scroll(href='/')
				| Home
				p Briefly about the main
			a(href='/projects')
				| Albums
				p Here are my best works
			a(href='/blog')
				| Blog
				p Read My Posts
			a(href='/contacts')
				| Contact
				p Get In Touch
			.social-links
				a(href='#')
					span.fa.ion-social-facebook
				a(href='#')
					span.fa.ion-social-twitter
				a(href='#')
					span.fa.ion-social-linkedin
				a(href='#')
					span.fa.ion-social-googleplus
	if !mainPage
		.album-text
			div
				h2=(text)

	block intro