extends layout

block content
	section#album.page-block
		.container
			.text-header
				.row
					h4.col-md-6
						| Suspendisse pharetra aliquam diam, et cursus erat mattis sed. Aenean vestibulum viverra ex ac convallis.
		// Images projekt
		.container
			.row
				.flex-images
					// item 1
					.item-gallery(data-w='579', data-h='386')
						a.image-link.hover-img.effect(data-toggle='modal', data-target='.modal1', href='#image-modal1')
							.hover-image
							img.image-holder-image(src='/assets/images/project-img/mountains/'+album.photography[0], alt='work-1')
							.image-holder-description
							.holder-left
							i.ion-arrow-resize(aria-hidden='true')
					// Modal-Box
					#image-modal1.modal-box.mfp-hide
						img(src='/assets/images/project-img/mountains/'+album.photographyBig[0], alt='work-1')
						.modal-box-content
							h4 Project title
							p
								| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
					// End Modal-Box
					// item 2
					.item-gallery(data-w='700', data-h='467')
						a.image-link.hover-img.effect(data-toggle='modal', data-target='.modal1', href='#image-modal2')
							.hover-image
							img.image-holder-image(src='/assets/images/project-img/mountains/'+album.photography[1], alt='work-2')
							.image-holder-description
							.holder-left
							i.ion-arrow-resize(aria-hidden='true')
					// Modal-Box
					#image-modal2.modal-box.mfp-hide
						img(src='/assets/images/project-img/mountains/'+album.photographyBig[1], alt='work-2')
						.modal-box-content
							h4 Project title
							p
								| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
					// End Modal-Box
					// item 3
					.item-gallery(data-w='700', data-h='438')
						a.image-link.hover-img.effect(data-toggle='modal', data-target='.modal1', href='#image-modal3')
							.hover-image
							img.image-holder-image(src='/assets/images/project-img/mountains/'+album.photography[2], alt='work-3')
							.image-holder-description
							.holder-left
							i.ion-arrow-resize(aria-hidden='true')
					// Modal-Box
					#image-modal3.modal-box.mfp-hide
						img(src='/assets/images/project-img/mountains/'+album.photographyBig[2], alt='work-3')
						.modal-box-content
							h4 Project title
							p
								| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
					// End Modal-Box
					// item 4
					.item-gallery(data-w='643', data-h='423')
						a.image-link.hover-img.effect(data-toggle='modal', data-target='.modal1', href='#image-modal4')
							.hover-image
							img.image-holder-image(src='/assets/images/project-img/mountains/'+album.photography[3], alt='work-3')
							.image-holder-description
							.holder-left
							i.ion-arrow-resize(aria-hidden='true')
					// Modal-Box
					#image-modal4.modal-box.mfp-hide
						img(src='/assets/images/project-img/mountains/'+album.photographyBig[3], alt='work-4')
						.modal-box-content
							h4 Project title
							p
								| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
					// End Modal-Box
					// item 5
					.item-gallery(data-w='293', data-h='440')
						a.image-link.hover-img.effect(data-toggle='modal', data-target='.modal1', href='#image-modal5')
							.hover-image
							img.image-holder-image(src='/assets/images/project-img/mountains/'+album.photography[4], alt='work-4')
							.image-holder-description
							.holder-left
							i.ion-arrow-resize(aria-hidden='true')
					// Modal-Box
					#image-modal5.modal-box.mfp-hide
						img(src='/assets/images/project-img/mountains/'+album.photographyBig[4], alt='work-5')
						.modal-box-content
							h4 Project title
							p
								| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
					// End Modal-Box
					// item 6
					.item-gallery(data-w='454', data-h='393')
						a.image-link.hover-img.effect(data-toggle='modal', data-target='.modal1', href='#image-modal6')
							.hover-image
							img.image-holder-image(src='/assets/images/project-img/mountains/'+album.photography[5], alt='work-3')
							.image-holder-description
							.holder-left
							i.ion-arrow-resize(aria-hidden='true')
					// Modal-Box
					#image-modal6.modal-box.mfp-hide
						img(src='/assets/images/project-img/mountains/'+album.photographyBig[5], alt='work-6')
						.modal-box-content
							h4 Project title
							p
								| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
					// End Modal-Box
					// item 7
					.item-gallery(data-w='579', data-h='386')
						a.image-link.hover-img.effect(data-toggle='modal', data-target='.modal1', href='#image-modal7')
							.hover-image
							img.image-holder-image(src='/assets/images/project-img/mountains/'+album.photography[6], alt='work-3')
							.image-holder-description
							.holder-left
							i.ion-arrow-resize(aria-hidden='true')
					// Modal-Box
					#image-modal7.modal-box.mfp-hide
						img(src='/assets/images/project-img/mountains/'+album.photographyBig[6], alt='work-7')
						.modal-box-content
							h4 Project title
							p
								| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
					// End Modal-Box
					
				// /.flex-images
				.project-btn
					a(href='album.html') Back to albums

