extends layout

block content
	section#album.page-block
		.container
			.text-header
				.row
					h4.col-md-6
						| Suspendisse pharetra aliquam diam, et cursus erat mattis sed. Aenean vestibulum viverra ex ac convallis.
			// Images For Albums
			#album-carousel.owl-carousel
				.album-item
					each item in projects
						.album-img
							a(href='/projects/'+item.slug)
								div
									span.item-view.animated.fadeInDown view
									img(src='/assets/images/albums/album-item/'+item.image, alt='')
						h5= item.header
						p= item.description
