extends layout

block content
	// Projekt name
	section#album.page-block
		.container
			.text-header
				.row
					h4.col-md-6
						| Suspendisse pharetra aliquam diam, et cursus erat mattis sed. Aenean vestibulum viverra ex ac convallis.
		// Images projekt
		.container
			.row
				.flex-images
					each item in projects.project
						.item-gallery(data-w=item.dataW, data-h=item.dataH)
							a.image-link.hover-img.effect(data-toggle='modal', data-target='.modal1', href='#'+item.modal)
								.hover-image
								img.image-holder-image(src='/assets/images/project-img/mountains/'+item.image, alt='work-1')
								.image-holder-description
								.holder-left
								i.ion-arrow-resize(aria-hidden='true')
						// Modal-Box
						div(id=""+item.modal class="modal-box mfp-hide")
							img(src='/assets/images/project-img/mountains/'+item.imageBig, alt='work-1')
							.modal-box-content
								h4 Project title
								p
									| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
						// End Modal-Box

				// /.flex-images
				.project-btn
					a(href='album.html') Back to albums
			// end row
		// /.container
