doctype html
html(lang='zxx')
	head
		// Basic Page Needs
		meta(charset='utf-8')
		title Vedea
		meta(name='description', content='')
		meta(name='author', content='')
		// Mobile Specific Metas
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// CSS
		link(rel='stylesheet', type='text/css', href='assets/css/plugins.css')
		link(rel='stylesheet', type='text/css', href='assets/css/style.css')
		// Favicon
		link(rel='icon', type='image/ico', href='assets/images/favicon.png')
	body
		// PRELOADER
		#preloader
			.loader
				img(src='assets/images/logo.svg', alt='logo')
		// HEADER SECTION
		header.blog-home-page
			nav.navigation.nav-down
				.home-menu
					a.nav-logo(href='index.html')
						img.logo(src='assets/images/logo.svg', alt='logo')
				.indicator-text
					span.text-menu menu
					span.text-close.hide close
				.hamburger
					span.color-menu
					span.color-menu
					span.color-menu
			// Navigation Menu
			nav.navigation_menu
				.sub-menu
					a(href='index.html')
						| Home
						p Briefly about the main
					a(href='album.html')
						| Albums
						p Here are my best works
					a(href='blog-home.html')
						| Blog
						p Read My Posts
					a(href='contact.html')
						| Contact
						p Get In Touch
					.social-links
						a(href='#')
							span.fa.ion-social-facebook
						a(href='#')
							span.fa.ion-social-twitter
						a(href='#')
							span.fa.ion-social-linkedin
						a(href='#')
							span.fa.ion-social-googleplus
			.album-text
				div
					h2 Blog
		// Page Content
		section#blog-home.page-block
			.container
				.text-header
					.row
						h4.col-md-6
							| Suspendisse pharetra aliquam diam, et cursus erat mattis sed. Aenean vestibulum viverra ex ac convallis.
				.row
					// Blog Entries Column
					.col-md-8
						// First Blog Post
						.posts
							img.img-responsive(src='assets/images/blog-img/01.jpg', alt='')
							h4.blog-post-title
								a(href='single-post.html') 15 Things To Know About Travel.
							p.date-post July 15, 2017 at 12:10 PM
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.
							.read-more
								a(href='single-post.html')
									| Read More
									i.fa.ion-ios-arrow-thin-right
						// Second Blog Post
						.posts
							#blog-post-carousel.owl-carousel.owl-theme
								.item-blog-post
									img(src='assets/images/blog-img/blog-post-carousel/01.jpg', alt='')
								.item-blog-post
									img(src='assets/images/blog-img/blog-post-carousel/02.jpg', alt='')
								.item-blog-post
									img(src='assets/images/blog-img/blog-post-carousel/03.jpg', alt='')
							h4.blog-post-title
								a(href='single-post.html') Five Easy Rules Of Photography.
							p.date-post July 15, 2017 at 13:10 PM
							p
								| Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum. Etiam congue sodales arcu, ut accumsan lectus aliquam et. Vivamus maximus pulvinar ligula, vitae laoreet tortor convallis consectetur. In volutpat nunc vel ex tempor, at aliquet nisl vulputate.
							.read-more
								a(href='single-post.html')
									| Read More
									i.fa.ion-ios-arrow-thin-right
						// Third Blog Post
						.posts
							iframe(src='https://www.youtube.com/embed/xFOisW4U154', allowfullscreen='')
							h4.blog-post-title
								a(href='single-post.html') Never Underestimate The Influence Of Video.
							p.date-post July 16, 2017 at 16:10 PM
							p
								| Maecenas pretium condimentum est nec molestie. In velit lorem, tempus malesuada turpis vel, blandit fermentum dui Integer mollis purus in augue accumsan ultrices
							.read-more
								a(href='single-post.html')
									| Read More
									i.fa.ion-ios-arrow-thin-right
						// Pager
						ul.pager
							li.previous
								a(href='blog-home.html')
									i.fa.ion-ios-arrow-thin-left
									| Previous Page
							li.next
								a(href='blog-home.html')
									| Next page
									i.fa.ion-ios-arrow-thin-right
					// Blog Sidebar Widgets Column
					.col-md-4
						.blog-sidebar
							// Blog Search Well
							.input-group
								input.form-control(type='text', placeholder='Search')
								span.input-group-btn
									button.btn.btn-default(type='button')
										span.fa.ion-ios-search
							// /.input-group
							.blog-about-me
								img.img-responsive(src='assets/images/blog-img/02.jpg', alt='')
								h4 About me
								p
									| Hic distinctio autem iure obcaecati explicabo!Placeat expedita earum magni, eum? Impedit modi nam nulla explicabo eius, ut accusantium tenetur fugiat laborum adipisci molestiae maiores expedita laboriosam, commodi illo velit quos quisquam eum iusto? In, obcaecati.
							// Blog Categories Well
							.blog-categories
								h4 Blog Categories
								.row
									.col-lg-6
										ul.list-unstyled
											li
												a(href='blog-home.html') Travels
											li
												a(href='blog-home.html') Business
											li
												a(href='blog-home.html') Photography
											li
												a(href='blog-home.html') Lifestyle
											li
												a(href='blog-home.html') Fashion
									// /.col-lg-6
								// /.row
							// Side Widget Well
							.recent-post
								h4 Recent Posts
								.row
									.col-lg-3.col-md-4.col-sm-3.col-xs-3.padding-right-none
										a(href='single-post.html')
											img.img-responsive(src='assets/images/blog-img/recent-posts-img-1.jpg', alt='')
									.col-lg-9.col-md-8.col-sm-9.col-xs-9
										a(href='single-post.html') Libero excepturi fuga.
										p.date-post July 16, 2017 at 16:10 PM
								.row.post-1
									.col-lg-3.col-md-4.col-sm-3.col-xs-3.padding-right-none
										a(href='single-post.html')
											img.img-responsive(src='assets/images/blog-img/recent-posts-img-2.jpg', alt='')
									.col-lg-9.col-md-8.col-sm-9.col-xs-9
										a(href='single-post.html') Libero excepturi fuga.
										p.date-post July 16, 2017 at 16:10 PM
								.row.post-2
									.col-lg-3.col-md-4.col-sm-3.col-xs-3.padding-right-none
										a(href='single-post.html')
											img.img-responsive(src='assets/images/blog-img/recent-posts-img-3.jpg', alt='')
									.col-lg-9.col-md-8.col-sm-9.col-xs-9
										a(href='single-post.html') Libero excepturi fuga.
										p.date-post July 16, 2017 at 16:10 PM
							// /.recent-posts
							.tags
								h4 Tags
								.row
									.col-lg-12
										ul.list-unstyled
											li
												a(href='blog-home.html') Travels
											li
												a(href='blog-home.html') Business
											li
												a(href='blog-home.html') Photography
											li
												a(href='blog-home.html') Lifestyle
											li
												a(href='blog-home.html') Fashion
									// /.col-lg-6
								// /.row
						// /.blog-sidebar
				// /.row
			// /.container
		// FOOTER
		footer
			a.company-logo(href='index.html')
				img.logo(src='assets/images/logo.svg', alt='logo')
			nav.footer
				a.page-scroll(href='index.html') Home
				a(href='album.html') Albums
				a(href='blog-home.html') Blog
				a(href='contact.html') Contact
			.social-links
				a(href='#')
					span.fa.ion-social-facebook
				a(href='#')
					span.fa.ion-social-twitter
				a(href='#')
					span.fa.ion-social-linkedin
				a(href='#')
					span.fa.ion-social-googleplus
			div
				h5 © Vedea Studio 2017 All rights reserved.
		// JavaScripts
		script(src='assets/js/plugins.js')
		script(src='assets/js/main.js')
